<div>Denys Godovanets</div>
<div [className]="'contact'">
  <span>Date of Birth: June 21, 1989</span>
  <span>Place of Residence: 167 bulding, 132 apart.Galytska St.,
    Ivano-Frankivsk, 76008
    Ukraine
  </span>
  <span>e-mail:den.hodovanets@gmail.com</span>
  <span>Phone:+380950589881</span>
</div>
<div [className]="'works'">
  <span>October 2018- January 2019- Finished the Front End camp in Eleks.</span>
  <span>February 2015 - present Seo optimization websites in Google
    • Optimization websites for search system google and yandex.;
  </span>
  <span>July 2014 – January 2015 Aktau Kazahtelecom Kazahstan”
    Consultant fiber optic line construction
    • Consultation and control kazahtelecom workers in building fiber optic line gpon;
  </span>
  <span>September 2011 – June 2014 Ivano-Frankivsk internet provider Netgroup Ukraine”
    • Projecting and building fiber optic line and gpon;
  </span>
  <span>Education
    2006 - 2011 Oil and Gas University
    Department: Projecting and building oil and gas pipeline
    Speciality: “ Construction and service oil and gas pipeline”
  </span>
  <p>Personal qualities:
    Persistence, sociability, the ability to quickly adjust to new working conditions, new technologies, the ability to
    grasp the crux of the problem and immediately solve it, the ability to achieve the goals set.
  </p>
</div>